/* CSS Normalize */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #EEE;
  font-family: Roboto,'Helvetica Neue', Helvetica, sans-serif;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  padding: 2rem 5rem 2rem 10rem;
  color: white;
}

.hero {
  padding: 0rem 0rem 0rem 5rem;
  background-color: #415368;
  height: 450px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "hero__image hero__heading" "hero__image hero__subtext" "hero__image hero__subtext";
}

.hero__image {
  grid-area: hero__image;
  position: relative;
}

.hero__image img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 400px;
}

.hero__heading {
  grid-area: hero__heading;
  margin: 100px 50px;
}

.hero__subtext {
  grid-area: hero__subtext;
  margin: 50px;
}

span#noun {
  background: rgba(252, 238, 39, 0.9);
  padding: 5px;
  border-radius: 10px;
  color: #242a31;
}

.latest-work {
  background-color: #283645;
  min-height: 50vh;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-work__header {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.latest-work__item {
  margin-top: 10px;
  -ms-flex-item-align: center;
      align-self: center;
}

.latest-work__title {
  text-decoration: none;
  color: #EEE;
}

.footer {
  background-color: #242a31;
  color: #707E8C;
  -ms-flex-preferred-size: 5vh;
      flex-basis: 5vh;
}

.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5rem;
  background: #242a31;
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.1);
}

.nav::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(245, 245, 245, 0.1);
}

.nav::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #657689;
}

#show-menu {
  display: none;
}

.mobile-nav {
  display: none;
}

.mobile-nav__logo {
  display: none;
}

#show-menu-checkbox {
  display: none;
}

#show-menu-checkbox:checked ~ .nav__item,
#show-menu-checkbox:checked ~ .nav__social {
  display: none;
}

.nav__item {
  width: 5rem;
  text-decoration: none;
  color: #EEE;
}

.nav__link {
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 2px solid transparent;
  position: relative;
  vertical-align: middle;
}

.nav__link.nav__item--active::before, .nav__link.nav__item--active::after {
  content: '';
  position: absolute;
  border-right: 2px solid #fcee27;
  width: 100%;
  height: 100%;
  top: inherit;
  left: inherit;
  bottom: inherit;
  right: inherit;
}

.nav__link::before, .nav__link::after {
  content: '';
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.nav__link::before {
  top: inherit;
  left: inherit;
}

.nav__link::after {
  bottom: inherit;
  right: inherit;
}

.nav__link:hover::before, .nav__link:hover::after {
  width: 100%;
  height: 100%;
}

.nav__link:hover::before {
  border-right-color: #fcee27;
  -webkit-transition: height 0.25s;
  transition: height 0.25s;
}

.nav__link:hover::after {
  -webkit-transition: border-color 0s ease-out 0.5s, height 0.25s ease-out 0.25s;
  transition: border-color 0s ease-out 0.5s, height 0.25s ease-out 0.25s;
}

.nav__icon {
  width: 5rem;
  font-size: 2rem;
  padding: 1rem 0;
}

.nav__logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 10px;
  margin-bottom: 40px;
}

.nav__logo img {
  width: 3.5rem;
}

.nav__social {
  margin-bottom: 10px;
}

.fa-twitter:hover {
  background-color: #3F8DBF;
}

.fa-linkedin:hover {
  background-color: #23527c;
}

.fa-github:hover {
  background-color: #f5f5f5;
  color: #333;
}

.drop-shadow {
  -webkit-filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0 1px 10px rgba(0, 0, 0, 0.14)) drop-shadow(0 2px 4px rgba(0, 0, 0, 0.12)) drop-shadow(0 -1px 3px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0 1px 10px rgba(0, 0, 0, 0.14)) drop-shadow(0 2px 4px rgba(0, 0, 0, 0.12)) drop-shadow(0 -1px 3px rgba(0, 0, 0, 0.1));
}

@media screen and (max-height: 600px) {
  .nav {
    overflow-y: scroll;
    display: block;
  }
  .nav__icon {
    font-size: 1.75rem;
  }
  .nav__logo img {
    width: 3rem;
  }
}

@media screen and (max-width: 1000px) {
  .hero {
    grid-template-areas: "hero__heading" "hero__subtext" "hero__subtext";
  }
  .hero__image {
    display: none;
  }
  .hero__heading {
    grid-column-end: -1;
    justify-self: center;
  }
  .hero__subtext {
    grid-column-end: -1;
    justify-self: center;
  }
  .latest-work {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .latest-work__header {
    text-align: center;
  }
}

@media screen and (max-width: 760px) {
  .nav--invisible {
    display: none;
  }
  .nav {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .nav__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav > .nav__item {
    padding: 15px;
  }
  .nav__logo {
    display: none;
  }
  .nav__label {
    font-size: 1.5rem;
  }
  .nav > .nav__item > .nav__icon {
    display: none;
  }
  .nav__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    margin-top: 15px;
  }
  .nav__social > .nav__item {
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
  }
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #242a31;
  }
  .mobile-nav__logo {
    display: inherit;
  }
  .mobile-nav__logo img {
    width: 50px;
  }
  #show-menu {
    color: #eee;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    padding: 0 15px;
    display: inherit;
    -ms-flex-item-align: center;
        align-self: center;
    cursor: pointer;
  }
  .nav__link {
    display: inline;
  }
  .nav__link.nav__item--active, .nav__link:hover {
    border-right: 2px solid transparent;
    background-color: #2f3740;
  }
  .drop-shadow {
    -webkit-filter: none;
            filter: none;
  }
}
 

 /*# sourceMappingURL= style.css.map */